body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: pink;
}

.title {
    text-align: center;
    color: red;
}

.subtitle {
    color: navy;
}

.description {
    color: black;
}

.link {
    color: blue;
}

/* Navigation Bar */
nav ul {
    list-style-type: none;
    background-color: #ffb6c1;
    padding: 20px;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: white;
    border-radius: 5px;
}

/* Product Section */
.product-box {
    background-color: cyan;
    padding: 20px;
}

/* Only style product lists */
.product-list {
    list-style-type: square;
    width: 200px;
    background-color: #f1f1f1;
    border: 5px solid #555;
    padding: 10px;
}

.product-list li {
    text-align: center;
    border-bottom: 1px solid #555;
    padding: 5px;
}

.product-list li:last-child {
    border-bottom: none;
}
